.ContainedButton {
  button {
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.11), 0px 1px 1px 0px rgba(0,0,0,0.13), 0px 2px 1px -1px rgba(0,0,0,0.02);
    border-radius: 3px;
    background: #3E4144;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    padding: 6px 16px;
    min-width: 64px;
    margin: 8px 0;
    font-size: 0.875rem;
    color: #ffffff;
    outline: none;

    &:hover {
      opacity: 0.9;
    }
  }

  &.primary {
    button {
      background: #01447B; /* Old browsers */
      border: 0;
      color: #ffffff;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.secondary {
    button {
      background: #038279; /* Old browsers */
      border: 0;
      color: #ffffff;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}