$width: 490px;
$row-height: 48px;

div.data-layers {
  visibility: none;
  opacity: 0.0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 0px;
  width: 0px;
  font-size: 0.9em;
  max-width: 0px;
  z-index: 1000;
  background-color: $white-00;
  -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.1);
  -webkit-transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  -moz-transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  -ms-transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  -o-transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  overflow-y: auto;
  overflow-x: hidden;

  div.layers-headers {
    background-color: $white-00;
    color: $grey-600;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    padding: 0;

    .col {
      white-space: nowrap;
      padding: 16px;

      &.col-label {
        margin-left: 24px;
      }

      &.col-display {
        border-radius: 0px;
        color: $grey-900;
        padding-left: 14px;
        font-weight: bold;
        letter-spacing: 0.05em;
        text-align: center;
        display: flex;
        flex-direction: row;
      }

      button {
         font-size: 0.875rem;
      }

      button.save {
        color: $teal-600;
        background: none;
        padding: .1em;
        margin: 0;
        font-weight: 500;
        line-height: 1.75;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        border-radius: 0;
        width: 125px;
        display: block;
        font-size: 0.875rem;
      }

      button.hideall {
        flex: 1;
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        color: $grey-600;
        border-radius: 0;
      }
    }
  }

  div.layers-rows {
    div.layers-row {
      height: $row-height;
      color: $grey-600;
      cursor: move;
      min-width: $width;
      background-color: $white-00;;
      border-bottom: 1px solid $grey-100;
      display: flex;
      align-items: center;

      button {
        background-color: inherit;
        border: 0;
        padding: 0;
        margin: 0;
        font-size: 1rem;

        svg {
          font-size: 1.2em;
          color: $grey-500;
        }

        &.visible {
          svg {
            font-size: 1.2em;
            color: $grey-600;
          }
        }
      }

      span.drag-icon {
        svg {
          color: $grey-500;
        }
      }

      .col {
        padding: 10px;
        white-space: nowrap;
        opacity: 0.5;

        &.col-key-name {
          padding-left: 10px;
          color: $grey-700;
        }
        &.col-label {
          padding-left: 24px;
          color: $grey-700;
          display: inline-block;

          svg {
            margin-right: 8px;
            margin-top: 1px;
          }
        }
      }

      &.visible {
        .col {
          opacity: 1.0;
        }
      }
    }

    div.placeholder {
      background-color: $grey-200;
      border: 0.5px dashed $grey-300;
    }

    div.draggable {
      &.dragged {
        div.layers-row {
          background-color: $cdc-blue-25;
          color: $grey-600;

          span.drag-icon {
            svg {
              color: $grey-600;
            }
          }

          button {
            svg {
              color: $grey-600;
            }
          }
        }
      }
    }
  }

  .fx-grd {
    min-height: auto;

    .col {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.active {
    min-width: $width;
    width: $width;
    max-width: $width;
    visibility: visible;
    opacity: 1.0;
  }
}