$width: 500px;
$row-height: 40px;

div.data-layers {
  visibility: none;
  opacity: 0.0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 0px;
  width: 0px;
  font-size: 0.9em;
  max-width: 0px;
  z-index: 1000;
  background-color: $smoke;
  -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.1);
  -webkit-transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  -moz-transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  -ms-transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  -o-transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  transition: width 0.2s, min-width 0.2s, max-width 0.2s, visibility 0s, opacity 0.1s linear;
  overflow-y: auto;
  overflow-x: hidden;

  div.layers-headers {
    background-color: $rain;
    height: $row-height;
    color: $davy-grey;
    font-weight: bold;

    .col {
      padding: 10px;
      white-space: nowrap;

      &.col-label {
        margin-left: 20px;
      }

      &.col-display {
        border-radius: 0px;
        border-color: $jade;
        color: $compliant-grey;
        padding-left: 14px;
        font-weight: normal;
        letter-spacing: 0.05em;
        text-align: center;
        background-color: $jade;
      }

      button.btn.btn-default.save {
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        color: $compliant-grey;
        background-color: $jade;
        border-radius: 0;
      }
    }
  }

  div.layers-rows {
    div.layers-row {
      height: $row-height;
      color: $davy-grey;
      cursor: move;
      min-width: $width;
      background-color: $smoke;
      border-bottom: 1px solid $rain;

      button.btn.btn-default {
        background-color: inherit;
        border: 0;
        padding: 0;
        margin: 0;

        svg {
          font-size: 1.2em;
          color: $winter-storm;
        }

        &.visible {
          svg {
            font-size: 1.2em;
            color: $davy-grey;
          }
        }
      }

      span.drag-icon {
        width: 10px;
        position: absolute;
        margin: 10px 0 0 10px;

        svg {
          margin: 0 2px 0 0;
          font-size: 1em;
          color: $un-blue;
        }
      }

      .col {
        padding: 10px;
        white-space: nowrap;
        opacity: 0.5;

        &.col-key-name {
          padding-left: 20px;
        }
        &.col-label {
          padding-left: 30px;

          svg {
            position: absolute;
            margin: 3px 0 0 0;
          }
          span.text {
            margin: 0 0 0 18px;
          }
        }
      }

      &.visible {
        .col {
          opacity: 1.0;
        }
      }
    }

    div.placeholder {
      background-color: $winter-storm;
      border: 1px dashed $rain;
    }

    div.draggable {
      &.dragged {
        div.layers-row {
          background-color: $rain;
          color: $davy-grey;

          span.drag-icon {
            svg {
              color: $davy-grey;
            }
          }

          button.btn.btn-default {
            svg {
              color: $davy-grey;
            }
          }
        }
      }
    }
  }

  .fx-grd {
    min-height: auto;

    .col {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.active {
    min-width: $width;
    width: $width;
    max-width: $width;
    visibility: visible;
    opacity: 1.0;
  }
}