div.data-endpoint {
  .input-group {
    cursor: pointer;

    span.copy {
      &:hover {
        svg {
          color: $grey-600;
        }
      }
      &:active {
        svg {
          color: $teal-600;
        }
      }
    }
  }
}
