$dropdown-size: 50px;
$dropdown-width: 330px;
$bar-height: 10px;

.download-text {
  color: $grey-600;
  font-size: 0.750em;
  margin-left: 8px;

}

.dropdown-downloads {
  margin: 0;
  padding: 0;

  *:focus {
    outline: none;
  }

  .dropdown-downloads-menu {
    padding: 20px;
    padding-bottom: 0;
    text-align: left;
    width: $dropdown-width;
    color: $grey-500;

    .download-row {
      margin: 0;
      padding: 7px 0;

      a {
        text-decoration: none;
      }

      .download-progress {
        height: $bar-height;
        margin: 0 0 5px 0;
      }

      div.col {
        text-align: left;
        font-size: 0.8em;

        &.col-file-download {
          text-align: right;
        }
      }
    }

    .dropdown-downloads-description {
      display: flex;
      justify-content: space-between;
    }

    p {
      font-size: 0.7rem;
      color: $grey-500;
    }

    button.dropdown-toggle {
      width: $dropdown-size;
      height: $dropdown-size;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;

      &:hover, &:active, &:focus {
        background-color: transparent;
      }
    }
    span.caret {
      display: none;
    }

    ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      background: $grey-400;
    }

    &.open {
      button.dropdown-toggle {
        background-color: $grey-100;
      }
    }

    div.empty {
      text-align: center;
      color: $grey-600;
      padding: $default-padding;
      font-weight: normal;
      font-size: 0.9em;
    }

    ul.dropdown-menu {
      background-color: $grey-100;
      border-radius: 0;
      margin: 0;
      padding: $default-padding;
      border: 0;

      h3 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        color: $grey-600;
      }
    }
  }

  div.reset-downloads {
    border-top: 1px solid $grey-400;
    text-align: right;
  }

  button.btn.btn-default.btn-clear {
    background: none;
    border: 0;
    padding: 5px;
    margin: 0;
    float: right;
    text-align: right;
    color: $grey-600;
    font-size: 0.85em;
  }
  button.btn.btn-default.btn-download {
    background: none;
    border: 0;
    padding: 5px;
    margin: 0;
    text-align: right;
    color: $cdc-blue-800;
    font-size: 1em;
  }
}