div.filter {
  margin: $default-margin 0;

  label {
    font-weight: normal;
    color: $davy-grey;
  }

  svg {
    color: $winter;
  }

  input {
    border-radius: 0;
    color: $davy-grey;

    &.with-icon {
      border-left: 0;
    }
  }

  // using the existing MUI color scheme to affect this
  // TODO: change to use CDC colors;
  .MuiInputBase-focused-283 {
    svg {
      color: #303f9f;
    }
  }
}