div.filter-select {
  color: $davy-grey;

  .MuiSelect-select-326:focus {
    background: none;
  }

  .MuiSelect-select-186:focus {
    background-color: rgba(0,0,0,0);
  }

  .Select {
    .Select-control {
      border-radius: 0;
      border-color: $rain;

      .Select-placeholder {
        color: $davy-grey;
      }
    }

    &.with-icon {
      .Select-control {
        border-left: 0;
      }
    }

    &.is-focused, &.is-pseudo-focused {
      .Select-control {
        outline: none;
        box-shadow: none;
        border-color: $rain;
      }
    }

    &:active, &:focus {
      outline: none;
    }
  }
}
