div.icon-buttons {
  div.icon-button {
    margin: 8px;
  }
}

div.icon-button {
  display: -webkit-inline-box;
  svg {
    margin-right: 8px;
  }

  button.btn {
    img.icon {
      width: 18px;
      height: 18px;
    }
    span {
      margin: 0 0 0 4px;
    }
  }
}