div.icon-buttons {
  div.icon-button {
    margin: 8px;
  }
}

div.icon-button {
  display: -webkit-inline-box;
  svg {
    margin-right: 8px;
  }

  button .custom-icon {
    margin-right: 8px;
  }
}