.login {
  background-color: #ffffff;
  padding: 50px;

  .super-button.btn-login {
    button {
      margin: 15px 0 10px 0;
    }
  }

  .super-button.btn-piv {
    button {
      margin: 40px 0 0 0;
    }
  }

  .forgot-password {
    a {
      color: #6E6E6E;
      opacity: 0.75;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        opacity: 1;
      }
    }
    float: right;
  }

  .hr {
    text-align: center;

    h4 {
      margin: 0 auto -38px auto;
      font-size: 16px;
      font-weight: normal;
      background-color: #ffffff;
      padding: 10px;
      position: relative;
      z-index: 100;
      width: 50px;
    }
  }
}