div.option-action {
  text-align: center;

  button {
    svg {
      color: $grey-500;

      &:hover, &:focus, &:active {
        -webkit-transition: color .075s ease-in-out;
        -moz-transition: color .075s ease-in-out;
        -ms-transition: color .075s ease-in-out;
        -o-transition: color .075s ease-in-out;
        transition: color .075s ease-in-out;
      }
    }
  }
}

table.table.list {
  button.btn.btn-default {
    svg {
      font-size: 1.3em;
    }
  }
}