div.option-view {
  height: $data-header-height - 10;
  overflow: hidden;
  min-width: 88px;
  margin: 0 auto;
  text-align: center;

  button.active {
    background-color: rgba(0, 0, 0, 0.09);
    color: $cdc-blue-800;
  }
}