div.option-errors-warnings {
  text-align: center;

  button.option-error:hover, button.option-warning:hover, button.option-error:active, button.option-warning:active {
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
  }

  button.option-error {
    svg {
      color: $vermilion;
    }
  }

  button.option-warning {
    svg {
      color: $amber-gold;
    }
  }
}