.pane-history {
  overflow-y: auto;

  h3 {
    color: $grey-600;
    font-weight: normal;
    font-size: 0.9em;
    margin-left: $default-margin;
  }

  .reset-history {
    background: none;
    border: 0;
    padding: 0 10px;
    margin: 0 10px;
    float: right;
    text-align: center;
    color: $grey-700;
  }
}