$btn-size: 35px;

.pane {
  background: $white;
  margin: $default-margin;
  -webkit-transition: background-color 0.2s; /* Safari */
  transition: background-color 0.2s;
  box-shadow: 0 1px 1px $winter;

  .pane-header {
    cursor: pointer;

    .pane-title, .pane-subtitle {
      padding: $default-padding;
      white-space: nowrap;
      color: $davy-grey;
    }

    .pane-title {
      text-align: left;
    }

    .pane-subtitle {
      text-align: right;
      border-right: 1px solid $rain;
    }

    .fx-grd {
      padding-right: 0;
      padding-left: 0;
      .col-3, .col-4, .col-7 {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .col-buttons {
      padding-top: 7px;
    }

    button {
      display: inline-block;
      font-size: 1.2em;
    }
  }

  .pane-body {
    border-top: 1px solid $rain;
    padding: $default-padding;
  }
  &.collapsed {
    background: $smoke;

    .pane-body {
      padding: 0;
      height: auto;
    }
  }
}