.super-button {
  button {
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.14);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding: 6px 16px;
    min-width: 64px;
    width: 100%;
    margin: 8px 0;
    font-size: 0.875rem;
    color: #3E4144;
    outline: none;

    img {
      display: block;
      padding: 8px 16px;
      margin: 0;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &.primary {
    button {
      background: #01447B; /* Old browsers */
      border: 0;
      color: #ffffff;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.secondary {
    button {
      background: #038279; /* Old browsers */
      border: 0;
      color: #ffffff;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.teal-on-teal {
    button {
      background: #11C2B6; /* Old browsers */
      border: 0;
      color: #004945;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.blue-on-blue {
    button {
      background: #76C1FE; /* Old browsers */
      border: 0;
      color: #01447B;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.blue-on-blue-inverse {
    button {
      background: #01447B; /* Old browsers */
      border: 0;
      color: #76C1FE;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.teal-on-teal-inverse {
    button {
      background: #004945; /* Old browsers */
      border: 0;
      color: #11C2B6;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.default-outlined {
    button {
      border: 1px solid #65676A;
      color: #65676A;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.primary-outlined {
    button {
      border: 1px solid #01447B;
      color: #01447B;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.secondary-outlined {
    button {
      border: 1px solid #038279;
      color: #038279;

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &.warning-outlined {
    button {
      border: 1px solid #D71E20;
      color: #D71E20;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}