.super-button {
  button {
    cursor: pointer;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */
    border: 1px solid #EBEBEB;
    padding: 8px;
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    color: #6B6B6B;
    outline: none;

    img {
      display: block;
      margin: 5px auto;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &.blue {
    button {
      background: #3396da; /* Old browsers */
      background: -moz-linear-gradient(left, #3396da 0%, #1972be 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #3396da 0%,#1972be 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #3396da 0%,#1972be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3396da', endColorstr='#1972be',GradientType=1 ); /* IE6-9 */
      border: 0;
      color: #ffffff;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
