div.super-table {
  div.public_fixedDataTable_main {
    outline: none;
  }
  thead {
    background-color: $rain;
    background-image: none;
    th {
      padding-right: 40px;
      color: $davy-grey;
      font-weight: bold;
      .header-icon {
        margin-right: 5px;
      }
    }
  }
  td {
    white-space: nowrap;
  }
}