$grid-width: 330px;

.super-grid {
  margin: 0;
  padding: 0 5px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .grid-item {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    flex: 1 1 auto;
    max-width: $grid-width;
    width: $grid-width;

    .panel {
      width: 100%;

      .panel-body {
        padding: 0;
        overflow: hidden;

        table.table {
          border: 0;
          margin: 0;
          padding: 0;

          tbody {
            border: 0;

            tr {
              td {
                white-space: nowrap;

                span.data-element {
                  display: block;
                  max-width: 15em;
                  overflow-x: auto;
                }

                svg {
                  color: $storm;
                }
              }
            }

            tr.first {
              td {
                font-weight: bold;
                border-top: 0;
              }
            }
          }
        }
      }

      .panel-footer {
        background-color: $rain;
        color: $davy-grey;
        text-align: right;
        padding: 5px;
        margin: 0;

        .option-action {
          text-align: right;
          button {
            font-size: 1.25rem;
          }
        }
        .option-errors-warnings {
          text-align: left;
        }
      }
    }
  }
}