div.uploader-paste {
  background-color: $white;
  border: 1px solid $true-blue;
  padding: $default-padding;

  .icon-buttons {
    display: flex;
    align-items: center;
    height: 12%;
    justify-content: flex-end;
  }

  textarea {
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 85%;

    &:active, &:focus {
      border: none;
      box-shadow: none;
    }
  }

  hr {
    border-top: 1px solid $true-blue;
  }
}