.btn-submit {
  background-color: $cdc-blue-600;
  color: $white-00;
  border-radius: 3px;
}

.btn.btn-default {
  background-color: $white-00;
  outline: none;
  border-radius: 3px;
}

input.form-control, button.btn.btn-default {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;

  &:hover, &:focus, &:active {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

button.btn.btn-default {
  &:hover, &:focus, &:active {
    background-color: inherit;
  }
}

a {
  color: $cdc-blue-800;
}