$default-margin: 15px;
$default-padding: 15px;
$data-header-height: 45px;
$header-height: 60px;
$header-top: 14px;
$table-row-height: 38px;

// bootstrap widths
$bs-xs-width: 575px;
$bs-sm-width: 767px;
$bs-md-width: 991px;
$bs-lg-width: 1199px;

body {
	margin: 0;
}

.rsg--logo-62 {
  color: #fff;
  margin: 0;
  font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.rsg--link-40, .rsg--link-40:link, .rsg--link-40:visited {
  font-size: inherit;
  color: #76c0fe;
  text-decoration: none;
}

.rsg--sidebar-4 {
  width: 15rem;

  .rsg--logo-5 {
    border: none;

    p {
      color: #A9E5E1;
      font-weight: bold;
    }

    .rsg--logo-61 {
      color: aliceblue;
    }
  }
}

.rsg--root-59 {
  border: none;

  nav {
    border-color: none;
  
    ul {
     border-color: none;
  
      li {
        color: #E9E8E7;
  
        a {
          border-color: none;
  
          &:hover {
            color: #A6D7FF;
          }
        }
      }
    }
  }
}

.rsg--code-20 {
  background-color: #D7F9F7;
}

.fx-grd {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100%;
}