$default-margin: 15px;
$default-padding: 15px;
$data-header-height: 45px;
$header-height: 60px;
$header-top: 14px;
$table-row-height: 38px;

// bootstrap widths
$bs-xs-width: 575px;
$bs-sm-width: 767px;
$bs-md-width: 991px;
$bs-lg-width: 1199px;

body {
	margin: 0;
}

.rsg--sidebar-4 {
  width: 16rem;

  .rsg--root-64 {

    nav {
      border: none;

      ul {
        border: none;

        li {
          border: none;

          a {
            color:#cee9fe;
          }
        }
      }
    }
  }
  .rsg--logo-5 {
    border: none;

    p {
      color: #A9E5E1;
      font-weight: bold;
    }
  }
}

.fx-grd {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100%;
}