$default-margin: 16px;
$default-padding: 16px;
$data-header-height: 48px;
$header-height: 64px;
$header-top: 16px;
$table-row-height: 40px;

// bootstrap widths
$bs-xs-width: 575px;
$bs-sm-width: 767px;
$bs-md-width: 991px;
$bs-lg-width: 1199px;

body {
	margin: 0;
}

.rsg--logo-60 {
  color: #fff;
}

.rsg--sidebar-4 {
  width: 18rem;
  border-right: #d8d8d8 solid 1px;

  .rsg--root-66 {

    nav {
      border: none;

      ul {
        border: none;

        li {
          border: none;

          a {
            color:#2c3e50;
          }
        }
      }
    }
  }
  .rsg--logo-5 {
    border: none;

    p {
      color: #2E845F;
      font-weight: bold;
    }
  }
}

.fx-grd {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100%;
}