@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

// headings
h1 {
  font-size: 22px;
  margin: 10px 0;
}

h2 {
  font-size: 18px;
  margin: 10px 0;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

h5 {
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0;
}

// paragraph
p {
  font-size: 1em;
}