@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

// headings
h1 {
  font-size: 22px;
  margin: 10px 0;
  color: #3e4144;
}

h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #717376;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #3e4144;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  color: #3e4144;
}

h5 {
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0;
  color: #3e4144;
}

// paragraph
p {
  color: #3e4144;
  font-size: 0.875em;
  letter-spacing: 0.01em;
}